<h3 class="ml-3">Adicionar Funcionário</h3>
<div [hidden]="submitted" style="width: 400px;">
    <form class="ml-3"  (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" class="form-control" formControlName="name"  required>
        </div>
        <div class="form-group">
            <label for="name">Salário</label>
            <input type="text" class="form-control" formControlName="salary" required>
        </div>

        <div class="form-group">
            <label for="name">Idade</label>
            <input type="text" class="form-control" formControlName="age" required>
        </div>

        <button  type='button' (click)="adicionar(name,salary,age)" class="btn btn-success">Adicionar</button>
    </form>
</div>
